
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

*{
  position: relative;
  font-family: 'Roboto', sans-serif;
  color: $white;
}

body{
  margin: auto;
  background: $dark-blue;
}

h1,h2,h3,label,.btn{
  font-family: 'Roboto Mono', monospace;
}

input,select{
  font-family: 'Roboto', sans-serif;
}

#app{
  height: 100vh;
}

.main-wrapper{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#logout{
  position: absolute;
  right: 0;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 3px;
  background: $red;
  z-index: 100;
  a{color: $white;}
}

.form-wrapper{
  width: 24rem;
  h3{
    text-transform: uppercase;
  }
  form{
    width: 100%;
  }
  label{
    line-height: 2.25rem;
    margin-bottom: 0;
  }
  select,input{
    color: $dark-blue;
    background: $yellow;
    border: none;
  }
  .btn{
    color: $white;
    border-color: $gray;
    &:hover{
      background: $gray;
    }
  }
  .input-group-text{
    color: $white;
    background: $gray;
    border: none;
  }
  #timeInput{
    border-right: 2px solid $gray;
  }
  input:focus{
    background: $white;
  }
}

@media only screen and (max-width: 434px) {
  .form-wrapper{
    width: 100%;
  }
}
